<dialog id="radar_modal" class="modal">
  <div class="modal-box border-t-8 border-primary max-w-2xl">
    @if (technologie) {
      <h3 class="font-black text-3xl uppercase tracking-tight text-primary mb-6">
        {{ technologie.name }}
      </h3>

      <div class="flex flex-col gap-6">
        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col">
            <span class="text-xs font-black uppercase tracking-widest opacity-40">Kategorie</span>
            <div class="divider my-1"></div>
            <span class="text-base-content/80 leading-relaxed">
              {{ technologie.category | techLabel }}
            </span>
          </div>

          <div class="flex flex-col">
            <span class="text-xs font-black uppercase tracking-widest opacity-40">Status</span>
            <div class="divider my-1"></div>
            <div>
              <span class="text-base-content/80 leading-relaxed">
                {{ technologie.ring | techLabel }}
              </span>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <span class="text-xs font-black uppercase tracking-widest opacity-40">Beschreibung</span>
          <div class="divider my-1"></div>
          <p class="text-base-content/80 leading-relaxed">
            {{ technologie.description }}
          </p>
        </div>

        <div class="flex flex-col">
          <span class="text-xs font-black uppercase tracking-widest opacity-40">Begründung</span>
          <div class="divider my-1"></div>
          <p class="text-base-content/80 leading-relaxed">
            {{ technologie.justification }}
          </p>
        </div>

        <div class="flex flex-col">
          <span class="text-xs font-black uppercase tracking-widest opacity-40">Veröffentlicht</span>
          <div class="divider my-1"></div>
          <p class="text-base-content/80 leading-relaxed">
            {{ technologie.publishedAt | date:'dd.MM.yyyy' }}
          </p>
        </div>
      </div>
    }

    <div class="modal-action mt-10">
      <form method="dialog">
        <button class="btn btn-primary rounded-full px-10">Schließen</button>
      </form>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
